.Home {
    width: 95%;
    margin: auto;
    background-color: #ebeeef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.cardHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    margin: 1vmax;
}

.cardHeading>h1 {
    font-size: 2vmax;
    color: #001d23;

}

.cardHeading>p {
    font-weight: 700;
    color: #001d23;
    border-bottom: 1px solid #001d23;
    /* transition: all .2s; */
}

.cardHeading>p:hover {
    border-bottom: none;

}

.FirstCardContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#scrollBtn {
    display: block;
    border: 1px solid white;
    background-color: #001d23;
    color: white;
    padding: 1vmax;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 700;

    margin: auto;
    position: fixed;
    right: 5%;
    bottom: 10%;
    z-index: 10;

    animation: moveBtnAnima 0.5s ease-in-out forwards;
}
#shamim {
    display: block;
    border: 1px solid white;
    background-color: #001d23;
    color: white;
    padding: 1vmax;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 700;

    margin: auto;
    position: fixed;
    right: 5%;
    bottom: 20%;
    z-index: 10;

    animation: moveBtnAnima 1s ease-in-out forwards;
   
}


@keyframes moveBtnAnima {
    0% {
        transform: translateX(100%);
    }

    1000% {
        transform: translateX(0);
    }
}





/* second container for card */
.secondWrapper {
    width: 95%;
    margin: auto;
    margin-top: 2vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondWrapper>h1 {
    font-size: 2vmax;
    color: #001d23;

}

.secondCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* load more button */
.loadMore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vmax;

}

.loadMore>button {
    font-size: 1.5vmax;
    font-weight: 700;
    padding: .5vmax;
    border: 2px solid #001d23;
    transition: all .5s;
    border-radius: 5px;

}

.loadMore>button:hover {
    background-color: #001d23;
    border: 2px solid #001d23;

    color: white;
}

@media screen and (max-width:650px) {
    .loadMore>button {
        font-size: 2.5vmax;
        font-weight: 700;


    }
}